.accenture-light * {
	transition: 200ms linear 50ms;
}

/* Sidebar color */
.accenture-light .acn-sidebar {
	background-color: #a100ff !important;
	color: #e2dee4!important;
}

.accenture-light #chat-search > *,
.accenture-light .app > *,
.accenture-light #nav,
.accenture-light .acn-message-input
{
	background-color: #fff !important;
}

.accenture-light .acn-suggestions{
	background-color: #f9f9f9;
}

.accenture-light .acn-suggestions:hover{
	background-color: #ececec;
}


.accenture-dark .acn-message-input form,
.accenture-light #chat-textarea {
    background: #fff;
}

.accenture-light #chat-textarea {
    margin: 0.3rem;
    padding: 0.5rem;
    border: 1px solid #4e4e4e80;
}

.accenture-light .acn-message-input form button[type=submit] {
    background: #a100ff;
    color: #fff;
}

.accenture-light #sidebar-new-chat-button img{
	background:#fff;
	padding: 2px;
}

.accenture-light .acn-sidebar a.acn-active-chat,
.accenture-light .acn-sidebar a:hover,
.accenture-light .acn-sidebar a:active,
.accenture-light .acn-sidebar button:active,
.accenture-light .acn-sidebar button:hover{
	background: #673ab7!important;
	color: #fff;
	transition: ease-in-out;
}

.accenture-light .sidebar-toggle-button, .sidebar-toggle-button:hover{
	background: transparent!important;
}

/* Auth */
.svelte-s3k1ub *{
	color:#333333!important;
}
.svelte-s3k1ub button{
	background-color: #a100ff !important;
    color: #e2dee4 !important;
}

.accenture-light .svelte-s3k1ub a:hover,
.accenture-light .svelte-s3k1ub a:active,
.accenture-light .svelte-s3k1ub button:active,
.accenture-light .svelte-s3k1ub button:hover{
	color: #673ab7!important;
	background: #fff;
	transition: ease-in-out;
}
.accenture-light .acn-bg-transparent{
	background: transparent!important;
}

.accenture-light .svelte-s3k1ub input{
	border-color: #673ab7!important;
}

.accenture-light #dropdownDots{
	background: #fff!important;
	color:#333333!important;
    bottom: 110px!important;

}
.accenture-light .acn-theme-switch {
    width: 100%!important;
    display: flex!important;
	margin: 10px auto;
}
.accenture-light .acn-theme-switch > div {
    width: auto;
    margin: auto auto!important;
}