.accenture-dark * {
	transition: 200ms linear 50ms;
    color: #fff !important;
}

/* Sidebar color */
.accenture-dark .acn-sidebar {
	background-color: #000000 !important;
	color: #e2e2e2!important;
}

.accenture-dark #chat-search > *,
.accenture-dark .app > *,
.accenture-dark #nav,
.accenture-dark .acn-message-input
{
	background-color: #0d0d0d !important;
}

.accenture-dark .acn-suggestions{
	background-color: #262626;
	color: #fff;
}

.accenture-dark .acn-suggestions:hover{
	background-color: #333333;
}

.accenture-dark #chat-textarea,
.accenture-dark .acn-message-input form {
    background: #333333!important;
}

.accenture-dark #chat-textarea{
    margin: 0.3rem;
	color: #fff;
    padding: 0.5rem;
    border: 1px solid #4e4e4e80;
}

.accenture-dark .acn-message-input form button {
    background: #262626!important;
    color: #fff!important;
}

.accenture-dark #sidebar-new-chat-button img{
	background:#fff;
	padding: 2px;
}

.accenture-dark .acn-sidebar a.acn-active-chat,
.accenture-dark .acn-sidebar a:hover,
.accenture-dark .acn-sidebar a:active,
.accenture-dark .acn-sidebar button:active,
.accenture-dark .acn-sidebar button:hover{
	background: #0d0d0d!important;
	color: #fff;
	transition: ease-in-out;
}

.accenture-dark .sidebar-toggle-button, .sidebar-toggle-button:hover{
	background: transparent!important;
	color: #fff;
}

/* Auth */
.svelte-s3k1ub *{
	color:#333333!important;
}
.svelte-s3k1ub button{
	background-color: #000000 !important;
    color: #e2e2e2 !important;
}

.accenture-dark .svelte-s3k1ub a:hover,
.accenture-dark .svelte-s3k1ub a:active,
.accenture-dark .svelte-s3k1ub button:active,
.accenture-dark .svelte-s3k1ub button:hover{
	color: #673ab7!important;
	background: #fff;
	transition: ease-in-out;
}
.accenture-dark .acn-bg-transparent{
	background: transparent!important;
}

.accenture-dark .svelte-s3k1ub input{
	border-color: #673ab7!important;
}

.accenture-dark #dropdownDots{
	background: #0d0d0d!important;
	color:#fff!important;
    bottom: 110px!important;

}
.accenture-dark .acn-theme-switch {
    width: 100%!important;
    display: flex!important;
	margin: 10px auto;
}
.accenture-dark .acn-theme-switch > div {
    width: auto;
    margin: auto auto!important;
}

.accenture-dark .acn-prompt-title{
	color: #fff;
}

.toaster * {
    color: #0d0d0d !important;
}

.accenture-dark .acn-auth-logo{
	position: absolute;
    right: 50%;
    translate: 50%;
}

.accenture-dark .modal-content div {
    color: #000 !important;
}

.accenture-dark .accenture-text-dark{
    color: #0d0d0d !important;
}